.wrap{
    min-height: 800px;
    height:auto !important;
    font-size: 12px;
    overflow:visible;
    color:#333;
    .cart_container{
        widows: 100%;
        .sheader{
            height: 100px;
            margin-bottom: 20px;
            border-bottom:2px solid #ccc;
            .sheader_box{
                height: 100px;
                width: 1210px;
                margin:0 auto;
                position:relative;
                .slogo{
                    width: 155px;
                    height: 95px;
                    padding-top: 15px;
                    float:left;
                    a{
                        display: block;
                        width: 155px;
                        height: 52px;
                        margin-bottom: 5px;
                        img{
                            width: 155px;
                            height: 52px;
                        }
                    }
                    .slogin{
                        display: block;
                        width:155px;
                        height:21px;
                        line-height:200px;
                        font-weight:bold;
                        font-size:20px;
                        overflow:hidden;
                        background:url(/images/slogin.png) no-repeat;
                    }
                }
                .toplink{
                    position:absolute;
                    right: 0px;
                    bottom:20px;
                    margin:0;
                    .links{
                        height: 47px;
                        padding-top: 7px;
                        list-style:none;
                        li{
                            float:left;
                            height:40px;
                            line-height: 40px;
                            margin-right: 5px;
                            a{
                                color:#999999;
                                text-decoration:none;
                            }
                        }
                    }
                }
            }
        }
        .cart_box{
            max-width:1210px;
            width:1210px;
            margin:0 auto;
            .main{
                margin:0 auto;
                min-height: 400px;
                padding:0;
                text-align:left;
                .prod_list{
                    .page-title-box{
                        height: 50px;
                        margin-bottom: 10px;
                        position:relative;
                        .page_left{
                            float: left;
                            height: 50px;
                            font-size: 26px;
                        }
                        .page_right{
                            position:absolute;
                            right:-34px;
                            float: right;
                            span{
                                position:absolute;
                                display: block;
                                right:34px;
                                width: 306px;
                                height: 20px;
                                background: url('/images/m-setp.png') no-repeat 0 -50px;
                            }
                            ul{
                                font-size:14px;
                                padding:20px 0 0;
                                text-align: center;

                                li{
                                    color:#ddd;
                                    width: 96px;
                                    height: 19px;
                                    list-style:none;
                                    float:left;
                                }
                            }
                        }
                    }
                }
                .row{
                    margin:0;
                    margin-bottom: 50px;
                    h2{
                        font-size: 16px;
                        border-bottom: solid 1px #ccc;
                        padding: 5px 0;
                        margin-bottom: 10px;
                        color: #000;
                        background: #f9f9f9;
                    }
                    .dizhi{
                        .inpdz{
                            float: left;
                            margin-right: 20px;
                            select{
                                width: 535px;
                                height: 38px;
                                outline:none;
                            }
                        }
                        .xzdz{
                            float: left;
                            height:38px;
                            a{
                                display: inline-block!important;
                                height: 38px;
                                line-height: 38px;
                                padding: 0 15px;
                                color: #333;
                                text-align: center;
                                border: 1px solid #999;
                                text-decoration: none;
                                font-size: 14px;
                            }
                        }

                    }
                    .psfs{
                        display: inline;
                        float: left;
                        height: 38px;
                        line-height: 38px;
                        overflow: hidden;
                        padding: 0 15px 0 10px;
                        cursor: pointer;
                        color: #666;
                        width: 175px;
                        text-align: center;
                        font-weight: bold;
                        font-size: 14px;
                        text-align: left;
                        margin-left: 0;
                    }
                    .row4{
                        color:#999;
                        p{
                            margin:0;
                        }
                        .useScore{
                            margin-top: 10px;
                            width: 605px;
                            height: 34px;
                            input{
                                height: 34px;
                                padding: 8px 10px;
                                text-align: left;
                                float: left;
                                border:1px solid #e6e6e6;
                                margin-right:3px;
                            }
                            button{
                                span{
                                    width: 78px;
                                    height: 34px;
                                    line-height: 36px;
                                    float: left;
                                }
                            }
                        }
                    }
                    .row5{
                        input{
                            margin-right: 3px;
                        }
                    }
                    .products_container{
                        .cart_table{
                            thead{
                                tr{
                                    line-height: 37px;
                                    background:#fff;
                                    th{
                                        background: #efefef;
                                        border: 1px solid #e6e6e6;
                                        border-collapse: collapse;
                                        padding: 8px;
                                        color: #000;
                                        white-space: nowrap;
                                        vertical-align: middle;
                                        font-weight: normal;
                                    }
                                    .a-center{
                                        text-align: center;
                                    }
                                }
                            }
                            tbody{
                                tr{
                                    td{
                                        border: 1px solid #e6e6e6;
                                        border-collapse: collapse;
                                        padding: 8px;

                                        img{
                                            width:100%;
                                        }
                                        h3{
                                            font-size: 1em;
                                            color:#000;
                                        }
                                    }
                                    .a-right{
                                        text-align: right;
                                    }
                                    .a-center{
                                        text-align: center;
                                    }
                                }
                            }
                            tfoot{
                                tr{
                                    td{
                                        padding: 6px 8px 0 8px;
                                        padding-bottom: 1px;
                                        border: 1px solid #e6e6e6;
                                        height: 28px;
                                        background: #efefef;
                                    }
                                    .a-right{
                                        text-align:right;
                                    }
                                    .no-b-border{
                                        border-bottom:none;
                                    }
                                    .no-t-border{
                                        border-top:none;
                                    }
                                }
                                .stro{
                                    font-size: 16px;
                                    font-weight: bold;
                                }
                            }


                        }
                    }
                    .toPay{
                        .buttons-set{
                            clear: both;
                            margin: 2em 0;
                            padding: 8px 0 0;
                            border-top: 1px solid #e4e4e4;
                            text-align: left;
                            color:#666;
                            textarea{
                                width: 535px;
                                height: 142px;
                                background: #fff;
                                border: 1px solid #e6e6e6;
                            }
                        }
                        .buttons-set_{
                            overflow:hidden;
                            border-top: 1px solid #e4e4e4;
                            margin: 2em 0;
                            padding: 8px 0 0;
                            text-align: left;
                            p{
                                clear: both;

                                color:#999;
                                float:left;
                                a{
                                    color:#999;
                                    text-decoration:none;
                                }
                                a:hover{
                                    color:#000;
                                }
                            }
                            button{
                                float:right;
                                span{
                                    width: 119px;
                                    height: 36px;
                                    line-height: 36px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.sfooter{
    line-height: 21px;
    padding:20px 0;
    font-size: 12px;
    color:#959595;
    p{
        text-align: center;
    }
}