.content_login{
    box-sizing:border-box;
    text-align: center;
    padding:0 12px;
    font-size:12px;
    a{
        text-decoration: none;
    }
    .login_bigbox{
        width:100%;
        overflow:hidden;
        .login_box{
            width:632px;
            height:598px;
            padding:16px;
            background:#fff;
            margin:5em auto;
            .login_smallbox{
                width:100%;
                height:100%;
                padding:14px 21px;
                h2{
                    display:block;
                    width: 172px;
                    height: 74px;
                    background:#3fc0be;
                    padding:12px;
                    margin: 0 auto;
                    span{
                        padding:25px;
                        float: left;
                        background:url(/images/login_icon1.png) no-repeat center center;
                    }
                    p{
                        font-size:18px;
                        font-weight:normal;
                        color:#fff;
                        padding:13px;
                        float:left;
                        line-height:1.35;
                        margin:0;
                    }

                }
                ul{
                    list-style:none;
                    li{
                        width: 558px;
                        height: 77px;
                        margin-bottom:20px;
                        span{
                            float:left;
                            padding:30px;

                        }

                        input{
                            width: 495px;
                            height:60px;
                            padding:21px 10px 20px;
                            outline:none;
                            float: left;
                            border:1px solid #dddddd;
                        }
                    }
                    li:first-child span{
                            background: #6cbe42 url(/images/login_icon2.png) no-repeat center center ;
                    }
                    li:last-child span{
                            background: #f96e4c url(/images/login_icon3.png) no-repeat center center ;
                    }

                }
                .forget{
                    display: block;
                    float: left;
                    a{
                        color:#999999;
                    }
                }
                .remenber{
                    color:#f00;
                    float: right;
                    input{
                        float:left;
                        margin-top:2px;
                        margin-right:2px;
                    }

                }
                .login_button{
                    padding-top:10px;
                    padding-bottom:10px;
                    border-top:1px solid #e6e6e6;
                    border-bottom:1px solid #e6e6e6;
                    width:100%;
                    height: 80px;
                    float:left;
                    button{

                        span{
                            padding:20px 30px;
                        }
                    }
                    .left{float:left;}
                    .right{float:right;}
                    /* a{
                        width: 84px;
                        height: 60px;
                        line-height:60px;
                        background:#58bae9;
                        color:#fff;
                        border:none;
                        float:right;
                        text-decoration:none;
                    } */
                }
                .socialogin{
                    width: 100%;
                    height: 89px;
                    float:left;
                    p{
                        background:#f9f9f9;
                    }
                    a{

                    }
                }

            }
        }
    }
}
