

.newRecomItemWrap{
    box-sizing:border-box;
    list-style:none;
    width: 270px;
    float: left;
    height: 381px;
    border:1px solid #ddd;
    margin-right: 7px;
    a{
        margin-bottom: 10px;
        img{
            width: 100%;
            height:auto;
        }
    }
    .itemTitle{
        overflow: hidden;
        padding: 10px;
        margin-bottom: 9px;
        height: 53px;
        a{
            color: #666;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            word-break: break-all;
        }
    }
    .itemInfo{
        p{
            color: #E31436;
            font-size: 16px;
            line-height: 14px;
            padding:10px;
            position:relative;
            span{
                    padding-left: 5px;
                    color: #999;
                    font-weight: 400;
                    font-size: 12px;
                    line-height:14px;
                    text-decoration:line-through;
            }
            a{
                background: #ee474a;
                color: #FFF;
                height: 25px;
                width: 75px;
                position: absolute;
                bottom: 2px;
                right: 12px;
                line-height: 25px;
                text-align: center;
                font-size: 13px;
                border-radius: 2px;
            }
        }
    }
}
/* banner */

.banner{
    padding:0 12px;
}

/* content */
.content{
    padding:0 12px;
    color:#535353;
    a{
        text-decoration:none;
    }
    .layout_title{
        font-size: 24px;
        margin:20px 0 10px;
        strong{
            font-weight:normal;
            height: 35px;
        }
        span{
            font-size:14px;
            font-weight: 400;
        }
        .bd{
            height: 35px;
            line-height:35px;
            padding:0 10px;

        }
    }
    .panic_buying{
        width: 100%;
        height: 385px;
        .bd{
            overflow:hidden;
            position:relative;
            .panic_container{
                width:5540px;
                height: 285px;
                margin-left: -1385px;
                li{
                    float:left;
                }
            }
            .next,.prev{
                position:absolute;
                z-index: 4;
                background: url(/images/arrows2.png) no-repeat;
                width: 35px;
                height: 60px;
                cursor: pointer;
                display: block;
                line-height: 200px;
                overflow: hidden;
                top: 120px;
                opacity: 0.9;
            }
            .prev{
                background-position: 0 0;
            }
            .next{
                background-position: -36px 0;
                right: 3px;
            }
        }
    }
    .cplist1{
        height: 450px;
        ul{
            li{
                width: 405px;
                float:left;
                list-style:none;
                margin-right: 10px;
                margin-bottom: 10px;
                a{
                    display: block;
                    width: 405px;
                    img{
                        width: 405px;
                    }
                }
            }
            .last{
                margin-right: 0;
            }
        }
    }
    .cplist2{
        height:378px;
        margin-bottom: 20px;
        .cplist2_ul{
            li{
                margin-right:3px;
                float:left;
                a{
                    display: block;
                    width: 244px;
                    height:378px;
                    position:relative;
                    img{
                        width: 244px;
                    }
                    p{
                        color:#fff;
                        display: block;
                        width:244px;
                        height: 60px;
                        padding-top:8px;
                        padding-left:10px;
                        position:absolute;
                        bottom:0;
                        background: rgba(0,0,0,0.6);
                        margin:0;
                    }
                }

            }
        }
    }

    .layout_block{
        margin:20px 0;
        width: 100%;
        height:783px;
        .layout_block1{
            text-align:center;
            float:left;
            width: 100%;
            .layout_block1_1{
                padding:10px;
                height: 90px;
                color:#fff;
                font-size: 24px;
                line-height: 35px;
            }
            .layout_block1_2{
                margin-top:10px;
                height: 70px;
                a{
                    float:left;
                    display: block;
                    width: 31%;
                    margin-right:6px;
                    margin-bottom: 6px;
                    padding:4px 0;
                    color:#555;
                    border:1px solid #e0e0e0;
                    text-align:center;
                    font-size:14px;
                }
                a:hover{
                    color:#fff;
                    background:#f58089;
                }
            }
            .layout_block1_3{
                margin-top: 3px;
                height: 108px;
                a{
                    display:block;
                    float:left;
                    width: 199px;
                    height: 100px;
                    margin-right: 6px;
                    margin-bottom:6px;
                    border:1px solid #ddd;
                    text-align:center;
                    overflow:hidden;
                    img{
                        height: 100px;
                    }
                }
            }
        }
        .layout_block2{
            float:left;
            width: 55%;
            height:498px;
            .layout_block2_box{
                .show{
                    float:left;
                    width:73%;
                    a{
                        position:relative;
                        display: none;
                        .des{
                            width: 100%;
                            padding:5px 0;
                            position:absolute;
                            bottom:0;
                            text-align:center;
                            background:rgba(0,0,0,.6);
                            color:#fff;
                        }
                        img{
                            width: 100%;
                        }
                    }
                    .active{
                        display: block;
                    }

                }
                .btn{
                    width: 24%;
                    float:left;
                    margin-left: 5px;
                    padding:0;
                    a{
                        display: block;
                        width:100%;
                        img{
                            width: 100%;
                            margin-bottom:5px;
                            display: inline;
                        }
                    }
                }
            }
        }
        .layout_block3{
            float: right;
            width: 45%;
            a{
                display: block;
                position:relative;
                float:left;
                width: 48%;
                height: 243px;
                margin-left:5px;
                margin-bottom: 5px;
                border:1px solid #ddd;
                color:#999;
                overflow:hidden;
                img{
                    width: 98%;
                }
                img:hover{
                    transition: all 200ms ease-in-out 0s;
                    transform:scale(1.05);
                }
                .des{
                    position:absolute;
                    top:10px;
                    left:10px;
                    width: 215px;
                    font-size:14px;
                    strong{
                        line-height:20px;
                        color:#000;
                    }
                }
            }
        }
    }
}

.footer_container{
    float: left;
}
/* 面包屑 */
.breadcrumbs{
    padding:3px 0 15px;
    font-size:12px;
    height:33px;
    line-height:1.25;
    ul{
        li{
            list-style:none;
            float:left;
            span{
                padding:10px;
            }
        }
        .home{
            a{
                color:#58BAE9;
            }

        }
    }
}